@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

:root {
    --fonte1: Verdana, Gevena, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Tiro Devanagari Marathi', serif;
}

* {
    margin:  0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header {
    background: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 30px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 7.0vw;
}

header > p {
    padding-bottom: 40px;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url(../imagens/background001.jpg);
    
}

section#img2 {
    background-image: url(../imagens/background003.jpg); 
    
}

section#img3 {
    background-image: url(../imagens/background002.jpg); 
    
}

@media (max-width: 600px) {

    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: var(--fonte2);
        font-size: 5vw;
    }

}